/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Quicksand', sans-serif;*/

.special-font-1 {
    font-family: "Poppins", sans-serif;
}

.special-font-2 {
    font-family: "Quicksand", sans-serif;
}

.special-btn {
    border-color: #fff;
    border-radius: 100px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #fd6585 0%, #0d25b9 100%);
    color: #fff;
}

.wrap {
    margin-right: 100px;
    margin-left: 100px;
}

.logo {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 4%;
    margin: 0px;
}

.menu a,
.auth a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.menu a:hover,
.auth a:hover {
    opacity: 0.7;
}

.bestpopular {
    border-radius: 20px 20px 150px 20px;
    height: 480px;
    background: linear-gradient(135deg, #fd2498 0%, #1277c8 100%);
}

.bestpopular h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 4% !important;
    color: #fff;
}

.bestpopularcourses {
    width: 230px;
    height: 270px;
    background: #ffffff;
    mix-blend-mode: soft-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.bestpopular a {
    font-size: 18px;
    color: #ebff07;
}

.courses .col-4 {
    height: 250px;
}
